<h2 class="page-header">Contact Press</h2>
<form action="/cp/contact/edit?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/cp/contact">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>