<div class="form-row">
    <div class="form-item form-item-no-grow">
      <label for="image">Image</label>
      <input type="file" multiple name="image" class="image-image filepond">
    </div>
</div>