<h2 class="page-header">Image:</h2>
<div class="image-details">
  <div>
    <img class="image-image" src="<%= image.ImagePath %>">
    <div class="image-details-btn-grid">
      <%- include('../partials/deleteForm', { url: `/cp/images/${image.id}` }) %>
    </div>
  </div>
</div>
<p><a href="/cp/images">Go Back</a></p>