<header>
    <div class="header-class">
        <a class="header-title" href="/">Gentz</a>
        <ul class="nav-links">
            <li><a href="#music">Music</a></li>
            <li><a href="#members">Members</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="burger-icon"><a href="javascript:void(0)" class="icon" onclick="openMenu()"><i class="fa fa-bars"></i></a></div>
    </div>
    <div class="burger-menu">
        <ul class="nav-links-burger">
            <li><a href="#music">Music</a></li>
            <li><a href="#members">Members</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</header>