<header>
    <div class="header-class">
        <a class="header-title" href="/">Gentz</a>
        <ul>
            <li><a href="#press">Press</a></li>
            <li><a href="#music">Music</a></li>
            <li><a href="#members">Members</a></li>
            <li><a href="#images">Images</a></a></li>
        </ul>
    </div>
</header>