<h2 class="page-header">New Image</h2>
<form action="/cp/introImages/new" method="POST">
  <div class="form"><%- include('_form_fields') %></div>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/cp/introImages">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>