<div class="form-row">
    <div class="form-item">
        <label for="Title">Title:</label>
        <input type="text" name="Title" placeholder="Title" value="<%= music.Title %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="link">Link:</label>
        <input type="text" name="link" placeholder="Link" value="<%= music.link %>">
    </div>
</div>