<div class="form-row admin">
    <div class="form-item admin">
        <label for="login">Login:</label>
        <input type="text" name="login" placeholder="Password">
    </div>
    <div class="form-item admin">
        <label for="password">Password:</label>
        <input type="text" name="password" placeholder="Password">
    </div>
</div>