<div>
    <h3>All images and introImages are cropped to 16:9 so please crop beforehand to ensure correct display, all the member images are cropped to 4:3</h3>
    <ul>
        <li><a href="/cp/members">Members</a></li>
        <li><a href="/cp/press">Press</a></li>
        <li><a href="/cp/intro">Intro</a></li>
        <li><a href="/cp/images">Images</a></li>
        <li><a href="/cp/introImages">introImages</a></li>
        <li><a href="/cp/music">Music</a></li>
        <li><a href="/cp/contact">Contact</a></li>
    </ul>
</div>
<div class="logout">
    <a href="/cp/removecookie">Logout</a>
</div>