<div>
    <ul>
        <li><a href="/cp/members">Members</a></li>
        <li><a href="/cp/press">Press</a></li>
        <li><a href="/cp/images">Images</a></li>
        <li><a href="/cp/music">Music</a></li>
    </ul>
</div>
<div class="logout">
    <a href="/cp/removecookie">Logout</a>
</div>