#footer {
    background-color: #0a91ff;
    color: white;
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 89;
    transition: 0.1s;
}
.footer-div {
    padding: 0.5rem;
}
.footer-div a {
    text-decoration: none;
    font-weight: bold;
}