#footer {
    background-color: var(--secondary-color);
    color: var(--main-color);
    margin-top: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 89;
    transition: 0.1s;
    box-shadow: 0 -4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.footer-div {
    padding: 0.5rem;
}
.footer-div a {
    text-decoration: none;
    font-weight: bold;
}