#header {
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 89;
    transition: 0.5s;
    font-size: var(--font-size-headersubtitle);
}
.header-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;
    color: var(--secondary-color);
    
}
.header-title {
    font-size: var(--font-size-title);
}
header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
header ul li {
    padding: 0.7vw;
}
header a {
    text-decoration: none;
}
a:link {
    color: inherit;
}
a:visited {
    color: inherit;
}