:root {
    --main-color: #0a91ff;
    --secondary-color: white;
    --image-width: 800px;
    --image-width-large: 800px;
    --image-aspect-ratio: 0.75;
    font-family: sans-serif;
    --font-size-title: 35px;
    --font-size-headersubtitle: 16px;
    --font-size-standard: 17px;
}