.music {
    padding: 0.5vw;
    margin-bottom: 0.5vw;
}
embed {
    width: 22vw;
    height: 14.0vw;
}
.music-grid-index {  
    display: flex;
    flex-wrap: wrap;
}
.music-grid-index h2 {
    font-weight: bold;
}
.music-grid-index div ul {
    list-style: none;
}
.music-grid-index div ul li {
    font-size: var(--font-size-standard);
    font-weight: bold;
}